.header_container{
    width:100%;
}
.header_container div{
    width:90%;
    margin:0 auto;
    margin-top: 3.5rem;
}
.header_container h4{
    color:#fff;
    font-size: 28px;
}
.search_container{
    display:flex;
    width:100%;
    margin-top: 10px;
}
.search_container input{
    height:30px;
    flex-grow: 1;
    flex-shrink: 1;
    padding:5px;
    font-size: 18px;
    outline:none;
    border:none;
    border:1px solid #52796F;
    border-left: 3px solid #52796F;

}
.search_container button{
    width:100px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-left: 15px;
    background-color: #52796F;
    outline: none;
    border:none;
    color:#fff;
    font-size: 18px;
    border-radius: 15px;
    cursor:pointer;
    transition: .5s;
}
.search_container button:hover{

    background-color:#4a665f;
}
.main_container{
    width:100%;
}
.favoritas_titles_container{
    width:90%;
    margin:0 auto;
    margin-top: 2rem;
    color:#fff;
    font-size: 28px;
}
.favoritas_templates_container{
    width: 100%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media only screen and (max-width:420px){
    .search_container input{
        font-size: 16px;
    }.search_container button{
        font-size: 16px;
        width: 75px;
    }
}